html {

    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    scroll-behavior: smooth;
    

}

body {
    margin: 0px;
    padding: 0px;
   

}

header {

    background-color: rgb(43, 74, 88);
    box-shadow: 10px 5px 10px 10px black;
    margin: 0%;
    height: 70px;
    width: 100%;
    border-radius: 25px;
    z-index: 1;
    top: 0;
    position: sticky;
}

ul {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    width: 100%;
    margin: 0;

}

li:hover {

    cursor: pointer;
    transform: scale(1.08);
}

li {
    color: white;
    font-size: x-large;
    font-weight: bold;
    margin-top: 20px;
    text-align: center;
}


.contact,
.Exppro,
.formation,
.scolarite {
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-attachment: fixed;
    opacity: 0.8;

}

.contact {

    background-image: url("image1.jpg");
    height: 600px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    line-height: 50px;
}



.Exppro {

    background-image: url("image2.jpg");
    height: 700px;
}


.formation {


    background-image: url("image1.jpg");
    height: 900px;

}



.scolarite {


    background-image: url("image2.jpg");
    height: 900px;

}



/* TITRE DES SECTIONS */


.titre1 {

    text-align: center;
    height: 50px;
    margin: 0;
    padding: 0;
    margin-top: 90px;
    width: 100%;
    color: white;
    background-color: #0e4454;
    background-image: linear-gradient(0deg, #0e4454 0%, #1680a0 50%, #0e4454 100%);
    box-shadow: 10px 5px 10px 10px black;


}

.titre2 {

    box-shadow: 10px 5px 10px 10px black;
    text-align: center;
    height: 50px;
    margin: 0;
    padding: 0;
    width: 100%;
    color: white;
    background-color: #0e4454;
    background-image: linear-gradient(0deg, #0e4454 0%, #1680a0 50%, #0e4454 100%);
    opacity: 0.8;

}

.titre3 {


    box-shadow: 10px 5px 10px 10px black;
    text-align: center;
    height: 50px;
    margin: 0;
    padding: 0;
    width: 100%;
    color: white;
    background-color: #0e4454;
    background-image: linear-gradient(0deg, #0e4454 0%, #1680a0 50%, #0e4454 100%);
    opacity: 0.8;

}


.titre4 {


    box-shadow: 10px 5px 10px 10px black;
    text-align: center;
    height: 50px;
    margin: 0;
    padding: 0;
    width: 100%;
    color: white;
    background-color: #0e4454;
    background-image: linear-gradient(0deg, #0e4454 0%, #1680a0 50%, #0e4454 100%);
    opacity: 0.8;

}





.presentation {

    color: white;
    box-shadow: 10px 5px 10px 10PX black;
    text-align: center;
    line-height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    margin-top: 15px;
}

p {

    margin: 0;
    padding: 0;
    

}


.flex1 {

    display: flex;
    justify-content: left;
    width: 80%;
    margin-top: 10px;

}

.flex3{
    display: flex;
    justify-content: left;
    width: 80%;
    margin-top: 10px
}

a {

    text-decoration: none;
    color: white;
    font-style: italic;

}

.photo {

    margin-top: 15px;

}


article.article1 {

    margin-top: 20px;
    color: white;
    box-shadow: 10px 5px 10px 10PX black;
    text-align: center;
    width: 60%;
    align-self: flex-start;
    padding: 10px;
    margin-left: 10px;

}


article.article2 {

    color: white;
    box-shadow: 10px 5px 10px 10PX black;
    width: 60%;
    align-self: flex-end;
    text-align: center;
    padding: 10px;
    margin-right: 10px;




}

.article2 p,
.article1 p {

    text-align: left;

}

.flex2 {

    height: 600px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;

}


.logo1 {

    height: auto;
    width: 25%;
    margin-top: 10%;

}


.logo2 {


    height: auto;
    width: 25%;
    margin-top: 10%;

}

.logo3 {

    height: auto;
    width: 25%;
    margin-top: 10%;

}

.logo4 {

    height: auto;
    width: 25%;
    margin-top: 10%;

}

h2 {

    color: white;
    text-align: center;
    justify-content: center;
    margin-top: -10px;
    padding-bottom: 20px;
    padding-top: 20px;
    margin-bottom: 2%;

}

.front {

    display: grid;
    grid-template-columns: 25% 15% 15% 25%;
    grid-template-rows: 1fr;
    text-align: center;
    justify-content: center;
    align-items: center;


}

div,
img,
p {

    color: white;

}

.back {

    display: grid;
    grid-template-columns: 20% 20% 20%;
    grid-template-rows: 1fr;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-bottom: 3%;
    margin-top: 5px;

}

.logo5 {

    height: auto;
    width: 20%;
    margin-top: 10%;

}

.logo6 {

    height: auto;
    width: 20%;
    margin-top: 10%;

}

.logo7 {

    height: auto;
    width: 20%;
    margin-top: 10%;

}


.full {

    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 1fr;
    text-align: center;
    justify-content: center;
    align-items: center;

}


.logo8 {

    height: auto;
    width: 20%;
    margin-top: 10%;

}

.logo9 {

    height: auto;
    width: 20%;
    margin-top: 10%;

}

.logo10 {

    height: auto;
    width: 20%;
    margin-top: 10%;

}

.logo11 {

    height: auto;
    width: 20%;
    margin-top: 10%;

}


.logo12 {

    height: auto;
    width: 20%;
    margin-top: 10%;

}

aside {

    box-shadow: 10px 5px 10px 10PX black;
    background-color: none;
    width: 95%;


}

h3 {

    text-align: center;
}

#div1 {
    visibility: hidden;

}

#div2 {

    height: 85px;
    margin-top: -85px;
    visibility: hidden;

}

#div3 {

    height: 85px;
    margin-top: -85px;
    visibility: hidden;

}

#div4 {

    
    height: 85px;
    margin-top: -85px;
    visibility: hidden;

}

a {

    font-family: 'Times New Roman', Times, serif;
}

.fronttitre {

    padding-top: 3%;

}

h2{

    font-size: xx-large;
  
}


.etude{

    display: flex;
    justify-content: center;
    width: 100%;
 
   

}

.BTS{
    box-shadow: 10px 5px 10px 10PX black;
    height: 100px;
    width: 15%;
    font-size: x-large;
    margin: 10px 15px 15px 15px;
    line-height: 40px;
    text-align: center;
   
    
}


.Prod{

    box-shadow: 10px 5px 10px 10PX black;
    height: 100px;
    width: 40%;
    font-size: x-large;
    line-height: 80px;
    margin: 10px 5px 15px 15px;
    text-align: center;
  
    
    
}



/* Media télèphone  */


@media only screen and (max-device-width : 767px) {


    header {

        width: 100%;
        height: auto;
    }

    .photo {

        width: 40%;
        align-self: center;
        height: auto;
    }

    ul {

        font-size: small;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: auto;
        height: auto;
    }



    .flex3 {

        flex-direction: column;
        width: 100%;
        height: auto;

    }

    .flex1{

        flex-direction: column;
        width: 100%;
        height: auto;

    }


    .contact {

        flex-direction: column;
        width: 100%;
        height: auto;
        text-align: center;

    }


    .flex2 {

        flex-direction: column;
        width: 100%;
        height: auto;

    }

    .Exppro {
        flex-direction: column;
        width: 100%;
        height: auto;

    }

    .titre2 {


        height: auto;

    }

    .front {
        grid-template-columns: 50% 50%;
        grid-template-rows: 1fr;
        text-align: center;
        justify-content: center;
        align-items: center;

    }


    .back{

        grid-template-columns: 33% 34% 33%;
        grid-template-rows: 1fr;
        text-align: center;
        justify-content: center;
        align-items: center;
    }



    .full {

        display: grid;
        grid-template-columns: 33% 34% 33%;
        grid-template-rows: 1fr;
        text-align: center;
        justify-content: center;
        align-items: center;
    

        
    }

    h2{

        font-size:large;
    }

    .etude{

        display: flex;
        flex-direction: column;
        margin: auto;
    }


    .BTS{
        margin: 0;
        height: auto;
        width: auto;
        font-size: medium;
    }

    .Prod{

        margin-bottom: 10%;
        height: auto;
        width: auto;
        font-size: medium;
        line-height: 1.5em;
    }
    
}





/* Media tablette  */


@media only screen and (min-device-width : 768px) and (max-device-width : 1024px){

    header {

        width: 100%;
        height: auto;
       
    }

    .photo {

        width: auto;
        align-self: center;
        height: auto;
    }

    
    header nav li {
        margin-top:10px;
        margin-bottom:10px;
    }
    
    ul {

        font-size: small;
        width: auto;
        height: auto;
        
       
    }

 
    .flex1 {

        flex-direction: column;
        width: 100%;
        height: auto;

    }


    .contact {

        flex-direction: column;
        width: 100%;
        height: auto;
        text-align: center;

    }


    .flex2 {

        flex-direction: column;
        width: 100%;
        height: auto;

    }

    .Exppro {
        flex-direction: column;
        width: 100%;
        height: auto;

    }

    .titre2 {


        height: auto;

    }

    .front {
        grid-template-columns: 20% 20% 20% 20%;
        grid-template-rows: 1fr;
        text-align: center;
        justify-content: center;
        align-items: center;

    }


    .back{

        grid-template-columns: 33% 34% 33%;
        grid-template-rows: 1fr;
        text-align: center;
        justify-content: center;
        align-items: center;
    }



    .full {

        display: grid;
        grid-template-columns: 33% 34% 33%;
        grid-template-rows: 1fr;
        text-align: center;
        justify-content: center;
        align-items: center;
    
    }

    .flex1{

        flex-direction: column;
        align-content: center;
    }

   


    .etude{

        margin: auto;
    }

    .BTS{
       
        height: auto;
        line-height:50px;
     
       
    }

    .Prod{

        height: auto;
        line-height:50px;

      
     
    }
    
}

